<div class="row">
	<div class="col-md-12">
		<input class="form-control" placeholder="Name" id="guestName" required />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<input class="form-control" placeholder="Link to Image" id="guestImage" />
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<input class="form-control" placeholder="Email" id="guestEmail" />
	</div>
	<div class="col-md-6">
		<input class="form-control" placeholder="Phone Number" id="guestPhone" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<input class="form-control" placeholder="Favorite Drink" id="guestDrink" />
	</div>
</div>
<div class="row">
	<a href="javascipt:void(0)" id="btnSubmit" class="btn btn-primary pull-right">Submit</a>
	<a href="javascipt:void(0)" id="btnCancel" class="btn btn-danger pull-right">Cancel</a>
</div>