<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td>Name</td>
			<td>Email</td>
		</tr>
	</thead>
	<tbody id="guestListContainer"></tbody> <!-- Collection Items will populate in here -->
</table>