<h3 class="text-center"><%= name %></h3>
<img class="center-block" width="250px" src="<%= imageLink %>">
<h5 class="text-center">Email: <%= email %></h5>
<h5 class="text-center">Phone Number: <%= phoneNumber %></h5>
<h5 class="text-center">Favorite Drink: <%= favoriteDrink %></h5>
<a class="btn btn-danger center-block" href="javascript:void(0)" id="removeGuest">Remove Guest</a>